body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: black;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
}

.top-div {
    display: flex;
    height: 100px;
    width: 250px;
    align-items: center;
    gap: 30px;
}

.logo-div {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.heading {
    color: rgb(223, 222, 222);
    font-size: 25px;
}

/* mid-container */
.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 250px;
    gap: 10px;
    margin-top: 6px;
    /* background-color: blue; */
}

/* mid-container first icon */
.icons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: rgb(5, 5, 5);
    height: 35px;
    width: 250px;
    border-radius: 10px;
}

.mid-icons {
    height: 30px;
    width: 30px;
    border-radius: 30%;
    margin-left: 20px;

}

.mid-text {
    font-size: 15px;
    color: rgb(223, 222, 222);
}

.icons-div:hover {
    /* background-color: rgb(40, 40, 40); */
    cursor: pointer;
}

.last-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* background-color: aqua; */
    margin-top: 15px;
    gap: 10px;
}