body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: black;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
}

.top-div {
    display: flex;
    height: 100px;
    width: 250px;
    align-items: center;
    gap: 30px;
}

.logo-div {
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.heading {
    color: rgb(223, 222, 222);
    font-size: 25px;
}

/* mid-container */
.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 250px;
    gap: 10px;
    margin-top: 6px;
    /* background-color: blue; */
}

/* mid-container first icon */
.icons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: rgb(5, 5, 5);
    height: 35px;
    width: 250px;
    margin-top: 5px;
    border-radius: 10px;
}

.mid-icons {
    height: 25px;
    width: 25px;
    border-radius: 30%;
    margin-left: 20px;

}

.mid-text {
    font-size: 13px;
    color: rgb(223, 222, 222);
}

.icons-div:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.last-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: aqua; */
    margin-top: 10px;
    gap: 10px;
}

.recent-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recent-text {
    color: rgb(223, 222, 222);
    margin-left: 20px;
    font-size: 15px;
}

.recent-icons {
    display: flex;
    flex-direction: row;
    /* margin: 0px; */
    gap: 15px;

}

.recent-chat,
.recent-project {
    height: 20px;
    width: 20px;
    border-radius: 30%;
}

.recent-div:hover {
    cursor: pointer;
}

/* nav-section */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 13px 0 0 25px;
}

.nav-leftdiv {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.thinkora-text {
    color: rgb(223, 222, 222);
    font-size: 30px;
}

.share-div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
    height: 50px;
    width: 120px;
}

.share-icon {
    height: 20px;
    width: 20px;
    border-radius: 30%;
}

.share-text {
    font-size: 16px;
    color: rgb(223, 222, 222);
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: antiquewhite; */
}

.user-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: center;
    /* background-color: aqua; */
}

.para-div {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    margin-top: 100px;
    width: 300px;
    /* background-color: blue; */
}

.thinkora-para {
    font-size: 20px;
    word-spacing: 5px;
    color: aliceblue;
}
